/node_modules
/.well-known
/.idea
/public/hot
/public/storage
/public/photos
/public/vendor
/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
